@import './variaveis.scss';

.Login {
    font-family: $font-family;
    background-color: $Branco;
}


.logo_Login {
    width: 350px;
    height: 200px;
}

.inputLogin {
    width: 100%;
}

.linha{
    width: 15%;
}
