@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


//Fonte
$font-family: 'Roboto',sans-serif;

//Cores
$AzulEscuro: #114b82;
$AzulClaro: #4791ff;
$Branco: #ffffff;
$Cinzento: #b7b7b7;
$CinzentoClaro: #ECECEC;
$CinzentoMaisClaro: #f8f8f8f4;